POSTGRES_DB=cinturon360_mock
POSTGRES_USER=cinturon360
POSTGRES_PASSWORD=cinturon360_dev_password
ASPNETCORE_ENVIRONMENT=Development
ApiBaseUrl=http://localhost:5088
ConnectionStrings__DefaultConnection=Host=localhost;Port=54329;Database=cinturon360_mock;Username=cinturon360;Password=cinturon360_dev_password
